# Python 관련
__pycache__/
*.py[cod]
.venv/
venv/

# Kaggle 관련
kaggle.json
.kaggle/

# 데이터 원본 파일
/data/part_*.csv
/data/*.zip
/data/*_formats.json
/data/cleaned_cardio_data/
/data/analysis_results/

# Spark/Hadoop 로컬 관련
_SUCCESS
*.crc
.metastore_db/
derby.log
spark-warehouse/

!/data/README.md
!/data/sample_*.csv